.account-info {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: var(--account-info-bg-color);
    padding: 15px;
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 54px;
        height: 54px;
        background-color: var(--account-info-icon-bg-color);
        border-radius: 8px;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}
